<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="#">AUTH</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" *ngIf='isAdmin()'>
                <a class="nav-link" routerLink="admin">Admin<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" *ngIf='isUser() || isAdmin()'>
            <a class="nav-link" routerLink="user">User<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="about">About</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" *ngIf='isLoggedIn()'>
                <button class="btn btn-outline-primary" (click)='logout()'>
                    logout
                </button>
            </li>
            <li class="nav-item" *ngIf='!isLoggedIn()'>
                <a class="nav-link" routerLink="register">register</a>
            </li>
            <li class="nav-item" *ngIf='!isLoggedIn()'>
                <a class="nav-link" routerLink="login">login</a>
            </li>
        </ul>
    </div>
</nav>