<div class="alert alert-success" *ngIf='message'>{{message}}</div>
<div class="text-center display-4 text-secondary">Update Product</div>
<div class="col-md-4 offset-md-4 mt-4 card tex-bold">
    <form #editForm='ngForm' (ngSubmit)='updateProduct(editForm)'>
                    <input type="hidden" name="id" id="id" class="form-control" #id='ngModel' ngModel
                        disabled [(ngModel)]='productService.selectedProductToUpdate.id'>
        <div class="form-group">
            <label for="name">Product Name</label>
            <input type="text" name="name" id="name" class="form-control" #name='ngModel' ngModel
                required [(ngModel)]='productService.selectedProductToUpdate.name'>
        </div>
        <div class="form-group">
            <label for="url">Product Image</label>
            <input type="text" name="url" id="url" class="form-control" #url='ngModel'
                ngModel required [(ngModel)]='productService.selectedProductToUpdate.url'>
        </div>
        <div class="form-group">
            <label for="cost">Product Cost</label>
            <input type="text" name="cost" id="cost" class="form-control" #cost='ngModel' ngModel
                required pattern="[0-9]{10}" [(ngModel)]='productService.selectedProductToUpdate.cost'>
        </div>
        <button type="submit" class="btn btn-primary float-right">
            Update Product
        </button>
    </form>

</div>