<div class="container-fluid">
    <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image">
        </div>
        <div class="col-md-8 col-lg-6 bg-dark text-light" *ngIf='navigator'>
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <h3 class="login-heading mb-4">Welcome back!</h3>
                            <form #loginForm= 'ngForm' (ngSubmit)='login(loginForm)'>
                                <div class="form-label-group">
                                    <label for="email">Email address</label>
                                    <input type="email" id="email" name="email" class="form-control" #email='ngModel' ngModel placeholder="Email address"
                                        required>
                                </div>

                                <div class="form-label-group">
                                    <label for="password">Password</label>
                                    <input type="password" id="password" name="password" #password='ngModel' ngModel class="form-control"
                                        placeholder="Password" required>
                                </div>

                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Remember password</label>
                                </div>
                                <button
                                    class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                                    type="submit">Sign in</button>
                                </form>
                                <button
                                class="btn btn-lg btn-secondary btn-block btn-login text-uppercase font-weight-bold mb-2"
                                (click)='navigate()'>Sign up</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-6 bg-dark text-light" *ngIf='custRegister'>
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">
                                <div class="display-4 text-light login-heading mb-2 mt-4">Sign-up Here...</div>
                                <form #addCustomerForm='ngForm' (ngSubmit)='addCustomer(addCustomerForm)'>
                                    <div class="form-group row">
                                        <label for="cname" class="col-sm-4 col-form-label">Customer Name</label>
                                       - <div class="col-sm-7">
                                            <input type="text" name="cname" id="cname"
                                                class="form-control justify-content-between" #cname='ngModel' ngModel
                                                required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="telno" class="col-sm-4 col-form-label">Mobile</label>
                                        <div class="col-sm-7">
                                            <input type="text" name="telno" id="telno" class="form-control" #telno='ngModel'
                                                ngModel required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="town" class="col-sm-4 col-form-label">Town</label>
                                        <div class="col-sm-7">
                                            <input type="text" name="town" id="town" class="form-control" #town='ngModel'
                                                ngModel required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="postcode" class="col-sm-4 col-form-label">Post Code</label>
                                        <div class="col-sm-7">
                                            <input type="text" name="postcode" id="postcode" class="form-control"
                                                #postcode='ngModel' ngModel required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" name="email" id="email" class="form-control" #email='ngModel'
                                            ngModel required>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input type="text" name="password" id="password" class="form-control"
                                            #password='ngModel' ngModel>
                                    </div>
                                    <button
                                    class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                                    type="submit">Submit</button>
                                    <button
                                    class="btn btn-lg btn-secondary btn-block btn-login text-uppercase font-weight-bold mb-2"
                                    (click)='loginNavigate()'>Sign in</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>