<div class="card container" style="width: 30rem;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZGkcHLXCyWgBmOsEowZiM_LyMojdVeU9KCpe4KX_c3GiM_BaN&s" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">vivek details</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>