<div class="container d-flex justify-content-center">
        <div class="card col-md-4 mt-4">
          <div class="card-body">
            <h1 class="h1 text-center">Login</h1>
            <form action="#" method="POST">
              <div class="form-group">
                <label for="un">UserName</label>
                <input type="text" class="form-control" placeholder="UserName" id="un">
              </div>
              <div>
                <label for="ps">Password</label>
                <input type="password" class="form-control" placeholder="Password" id="ps">
              </div>
            </form>
            <div class="form-group">
              <button class="btn btn-primary btn-block mt-4" style="letter-spacing:2px;">Login</button>
            </div>
            <div>
              <a href="./registration.html" style="text-decoration: none;"><button class="btn btn-secondary btn-block"
                  style="letter-spacing:2px; margin-top: -10px">Register</button></a>
            </div>
    
          </div>
        </div>
    
      </div>