<div class="container d-flex justify-content-center">
        <div class="card col-md-4">
            <div class="card-body">
                <h1>Registration</h1>
                <form action="#" method="POST">
                    <div class="form-group form-inline">
                        <label for="name" class="my-1 mr-2">First Name</label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="First Name" required>
                    </div>
                    <div class="form-group mt-2 form-inline">
                        <label for="last" class="my-1 mr-2">Last Name</label>
                        <input type="text" class="form-control" name="last" id="last" placeholder="Last Name">
                    </div>
                    <div class="form group">
                        <label for="date">DOB</label>
                        <input type="date" class="form-control" required>

                    </div>
                    <div class="form-group mt-2">
                        <label for="mail" class="my-1 mr-2">Email</label>
                        <input type="email" class="form-control" name="email" id="mail" placeholder="email" required>
                    </div>
                    <div class="form-group">
                        <label for="pass" class="my-1 mr-2">Password</label>
                        <input type="password" class="form-control" name="Password" id="pass" placeholder="Password" required>

                    </div>
                    <div class="form group">
                            <label for="num">Mobile</label>
                            <input type="text" class="form-control" name="mobile" id="num" placeholder="Number">
    
                        </div>
                    <div class="form-group form-inline">
                        <label for="radio" class="my-1 mr-4">Gender:</label>

                        <input type="radio" class="form-control" name="Gender" value="female" id="radio">
                        <label for="radio" class="my-1 mr-4">Female</label>
                        <input type="radio" class="form-control" name="Gender" value="male" id="radio">
                        <label for="radio"class="my-1 mr-4">Male</label>
                        <input type="radio" class="form-control" name="Gender" value="other" id="radio">
                        <label for="radio"class="my11 mr-1">Other</label>
                    </div>
                    <button class="btn btn-primary btn-block mt-2">SIGN UP</button>
                    
                </form>

            </div>

        </div>

    </div>
